- properties of the list datastructure
    - item in lists are indexed
    - lists are ordered
    - mixed (heterogenous) values
        - ex `[1,2,3,'a','b',True]` 
    - lists are mutable (we can add or remove values after creation) 
    - list is represented by `[ ]`
    - `list()` is used to convert other datastructure into list

# what are u going to learn
- creating list
- indexing and slicing
- looping
- function

### creation

In [1]:
x = [1,2,3,4]
y = ['apple','apricont','avocado']
z = [1.3, 4.5, 2.4, 4.5, 1.3, .3]
a = [] # empty list
b = ['apple', 100,'banana',200,'cherry',500]    # mixed string and number
c = [True, True, True, False, True, False]      # boolean
d = [[1,2,3],[4,5,6],[7,8,9]] # nested list or multidimensional

In [3]:
b

['apple', 100, 'banana', 200, 'cherry', 500]

In [4]:
print(x)

[1, 2, 3, 4]

In [6]:
print(d)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [10]:
a = [1,2,3,4,1,2,3,31,]
b = [1,2,312,31,23]
c = [123,2,12,31,23,123,12]

e = [a,b,c]
e

[[1, 2, 3, 4, 1, 2, 3, 31], [1, 2, 312, 31, 23], [123, 2, 12, 31, 23, 123, 12]]

In [8]:
a = 10
b = 20
c = 30
f = [a,b,c,a,b,c,a,b,c]

In [9]:
f

[10, 20, 30, 10, 20, 30, 10, 20, 30]

In [12]:
msg = 'Life before death'
chars = list(msg)
print(chars)

['L', 'i', 'f', 'e', ' ', 'b', 'e', 'f', 'o', 'r', 'e', ' ', 'd', 'e', 'a', 't', 'h']

### indexing and slicing

In [14]:
movies = [  'whiplash',
            'delhi belly',
            'The Truman Show',
            'Inception',
            'Tenet']

In [15]:
movies[0]

'whiplash'

In [16]:
movies[1]

'delhi belly'

In [17]:
movies[-1]

'Tenet'

In [18]:
movies[-5]

'whiplash'

In [19]:
# update the index value
movies[1] = 'Harry Potter'

In [20]:
movies

['whiplash', 'Harry Potter', 'The Truman Show', 'Inception', 'Tenet']

In [21]:
x= [1,2,31,23,12,3,12,3,1,2,3,1,23,1,2,3,1,23,12,3,12,3,12]

In [22]:
x[:5] # first five elements

[1, 2, 31, 23, 12]

In [23]:
x[-5:] # last five

[12, 3, 12, 3, 12]

In [24]:
x[3 : -3]# all except first 3 & last 3

[23, 12, 3, 12, 3, 1, 2, 3, 1, 23, 1, 2, 3, 1, 23, 12, 3]

In [25]:
x[::-1] # reverse the whole list

[12, 3, 12, 3, 12, 23, 1, 3, 2, 1, 23, 1, 3, 2, 1, 3, 12, 3, 12, 23, 31, 2, 1]

In [26]:
x[::2]# even index value

[1, 31, 12, 12, 1, 3, 23, 2, 1, 12, 12, 12]

# loops
- looping a list 
- looping nested list
- looping mulitple list
- looping list with index

In [27]:
for i in x:
    print(i,end=' ')

1 2 31 23 12 3 12 3 1 2 3 1 23 1 2 3 1 23 12 3 12 3 12

In [28]:
# reversed list in loop
for i in x[::-1]:
    print(i,end=' ')

12 3 12 3 12 23 1 3 2 1 23 1 3 2 1 3 12 3 12 23 31 2 1

In [29]:
# reading only the first 10 items
for i in x[:10]:
    print(i, end=' ')

1 2 31 23 12 3 12 3 1 2

In [30]:
# 2d list 
for item in d:
    print(item)

[1, 2, 3]
[4, 5, 6]
[7, 8, 9]

In [31]:
# printing all values seperately in  2d list 
for item in d:
    for i in item:
        print(i, end=' ')

1 2 3 4 5 6 7 8 9

In [32]:
# 2 list in a single loop
f1 = [1,2,3,4,5]
f2 = [4,1,2,2,4]

for i,j in zip(f1,f2):
    print(i,j)

1 4
2 1
3 2
4 2
5 4

In [34]:
a = [12,123,123,12]
b = [4,54,4,31,2,23,2312]
for v1,v2 in zip(a,b):
    print(v1,v2)

12 4
123 54
123 4
12 31

In [35]:
for v1,v2,v3 in zip(a,b,c):
    print(v1+v2+v3)

139
179
139
74

In [39]:
for i in enumerate(x):
    print(i, end=',')

(0, 1),(1, 2),(2, 31),(3, 23),(4, 12),(5, 3),(6, 12),(7, 3),(8, 1),(9, 2),(10, 3),(11, 1),(12, 23),(13, 1),(14, 2),(15, 3),(16, 1),(17, 23),(18, 12),(19, 3),(20, 12),(21, 3),(22, 12),

In [41]:
for idx, val in enumerate(x):
    if idx == 7:
        break
    print(val)

1
2
31
23
12
3
12

# list Functions
- adding items to list
    - append
    - insert
    - extend
- removing items from list
    - pop
    - remove
    - clear
- utilties
    - count
    - index
    - reverse
    - sort
    - copy

In [1]:
names= ['roger','samuel']

In [2]:
names.append('patrick')

In [3]:
names.append('bob')

In [4]:
names.append('maximus')

In [5]:
names.append(100)

In [6]:
names.append(['a','b','c'])

In [7]:
names

['roger', 'samuel', 'patrick', 'bob', 'maximus', 100, ['a', 'b', 'c']]

In [8]:
heroes = []
for i in range(5):
    hero = input('enter ur fav hero:')
    heroes.append(hero)
print(heroes)

['kaladin', 'kelsier', 'vin', 'elend', 'dalinar']

In [9]:
names

['roger', 'samuel', 'patrick', 'bob', 'maximus', 100, ['a', 'b', 'c']]

In [10]:
names.insert(1,'arkin')

In [11]:
names

['roger', 'arkin', 'samuel', 'patrick', 'bob', 'maximus', 100, ['a', 'b', 'c']]

In [12]:
x= [1,2,3,4]
y =[6,7,8]

In [13]:
x.extend(y)
x

[1, 2, 3, 4, 6, 7, 8]

In [14]:
x

[1, 2, 3, 4, 6, 7, 8]

In [15]:
names

['roger', 'arkin', 'samuel', 'patrick', 'bob', 'maximus', 100, ['a', 'b', 'c']]

In [16]:
names.pop()

['a', 'b', 'c']

In [18]:
names.pop()

100

In [19]:
names.pop(2) # 2 is an index value

'samuel'

In [20]:
names.remove('bob')

In [21]:
names

['roger', 'arkin', 'patrick', 'maximus']

In [22]:
a = [1,2,2,1,23,34,54,6,7,8,]

In [23]:
a.remove(23) # 23 is a value of element

In [25]:
a.remove(1) # 1 is a value

In [26]:
a

[2, 2, 1, 34, 54, 6, 7, 8]

In [28]:
if 100 in a:
    a.remove(100)

In [30]:
if 'john' in names:
    names.remove('john')

In [31]:
a.clear()

In [32]:
# wap to add 5 numbers to a list and display their sum. numbers should be entered by user input

In [33]:
a = [1,2,1,2,1,2,1,2,2,2,2,1,2,1,2,1,1,2,1,2,1,2,1,2,1,2,1,2,1,2]
a.count(1) # 1 is a element of list a

14

In [34]:
a.count(2)

16

In [35]:
a.count(12)

0

In [36]:
ones_count = a.count(1)
twos_count = a.count(2)
if ones_count > twos_count:
    print("we will have 1's ")
else:
    print("Give me all the 2's")

Give me all the 2's

In [39]:
names.index('roger')

0

In [40]:
names.index('arkin')

1

In [42]:
a.sort()

In [44]:
names.sort()

In [46]:
names.sort(reverse=True)
names

['roger', 'patrick', 'maximus', 'arkin']

In [47]:
names.reverse()

In [48]:
names

['arkin', 'maximus', 'patrick', 'roger']

In [49]:
x = [11,22,33,11,22,33,44,11,22,11,22,33,44,55,66]
x.reverse()
x

[66, 55, 44, 33, 22, 11, 22, 11, 44, 33, 22, 11, 33, 22, 11]

In [51]:
for idx,i in enumerate(names):
    print(idx, i)

0 arkin
1 maximus
2 patrick
3 roger

In [52]:
x =15
y = x

In [53]:
print(x,y)

15 15

# Task till tuesday ->
- Given a Python list. Turn every item of a list into its square
`x= [1, 2, 3, 4, 5, 6, 7]`

- Concatenate two lists in the following order
```
list1 = ["Hello ", "take "]
list2 = ["Dear", "Sir"]

expected output: 

['Hello Dear', 'Hello Sir', 'take Dear', 'take Sir']
```

- Remove empty strings from the list of strings

`list1 = ["Mike", "", "Emma", "Kelly", "", "Brad"]`

- Add item 7000 after 6000 in the following Python List
```
list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]

Expected output:

[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]
```

- Given a Python list, remove all occurrence of 20 from the list

`list1 = [5, 20, 15, 20, 25, 50, 20]`

-  Given a Python list, find value 20 in the list, and if it is present, replace it with 200.

`list1 = [5, 20, 15, 20, 25, 50, 20]`