# TUPLES
- properties of the tuple data structure
    - item in tuple are indexed
    - tuples are ordered
    - mixed (heterogenous) values
        - ex `(1,2,3,'a','b',True)` 
    - tuples are immutable (we cannot add or remove values after creation) 
    - tuple is represented by `( )`
    - `tuple()` is used to convert other datastructure into tuple

# what are u going to learn
- creating tuples
- indexing and slicing
- looping
- function

In [2]:
x = (1,2,3,4,5)

In [3]:
type(x)

tuple

In [4]:
y = 12,123,1312,5454,6767

In [5]:
y

(12, 123, 1312, 5454, 6767)

In [8]:
x= ([1,2,3],[4,5,6]) # tuple of lists
x

([1, 2, 3], [4, 5, 6])

In [9]:
x = [(1,2),(3,5),(2,3,4)] # list of tuples
x

[(1, 2), (3, 5), (2, 3, 4)]

In [10]:
x =(1,23,4,5,56,65,2,32,432,412,3,12)

In [11]:
x[0]

1

In [12]:
x[-1]

12

In [13]:
x[6]

2

In [15]:
x[6]= 200

TypeError: 'tuple' object does not support item assignment

In [16]:
for item in x:
    print(item)

1
23
4
5
56
65
2
32
432
412
3
12

In [17]:
x.count(2)

1

In [18]:
x.count(23)

1

In [21]:
x.index(432)

8

converting tuple to list / vice versa

In [22]:
x

(1, 23, 4, 5, 56, 65, 2, 32, 432, 412, 3, 12)

In [24]:
xl = list(x)
print(xl)

[1, 23, 4, 5, 56, 65, 2, 32, 432, 412, 3, 12]

In [25]:
y = [1,2,3,4]
yt = tuple(y)

In [ ]:
yt