# Set
- properties of the set data structure
    - item in set are unindexed
    - sets are unordered
    - sets have only unique values, duplicates are remove automatically
    - mixed (heterogenous) values
        - ex `{1,2,3,'a','b',True}` 
    - sets are mutable (we can add or remove values after creation) 
    - sets is represented by `{ }`
    - `set()` is used to convert other data structure into set

# Stuff to do
- creation
- indexing and slicing
- looping
- functions in set

## creation

In [1]:
x = {1,2,3,4}

In [2]:
a = {1,2,3,4,5,1,2,2,2,1,2,2,2,1,1,1,2,}
a

{1, 2, 3, 4, 5}

In [3]:
em = set() # empty set

In [4]:
num = [1,2,1,3,2,3,12,31,23,123,12,31,23,123]
numset = set(num)
print(num)
print(numset)

[1, 2, 1, 3, 2, 3, 12, 31, 23, 123, 12, 31, 23, 123]
{1, 2, 3, 12, 23, 123, 31}

In [6]:
x = {{1,2},{3,5}} # cannot nest set with a set

TypeError: unhashable type: 'set'

In [8]:
x = {(1,3),(2,3),(1,1)} # PUT TUPLE IN SETS

In [9]:
categories = {  'Free software programmed in Python',
                'Python (programming language) web frameworks',
                'Software using the BSD license',
                'Web frameworks'
                }

In [11]:
print(categories)

{'Web frameworks', 'Python (programming language) web frameworks', 'Free software programmed in Python', 'Software using the BSD license'}

## indexing and slicing
u cant do that in set

## looping

In [13]:
for item in categories:
    print(item)

Web frameworks
Python (programming language) web frameworks
Free software programmed in Python
Software using the BSD license

# functions
- adding items
    - add 
    - update
- removing items
    - remove
    - discard
    - pop
    - clear
- set operations
    - union
    - intersection
    - difference
    - symmetric difference
- validation
    - issuperset
    - issubset
    - isdisjoint
- utility
    - copy

In [19]:
x = set()

In [20]:
x.add(10)
x

{10}

In [21]:
x.add(13)
x

{10, 13}

In [22]:
x.update([2,3,4])
x

{2, 3, 4, 10, 13}

In [23]:
a = [11,12,13,4] # a humble list
x.update(a) # copy the data to set 
print(x)

{2, 3, 4, 10, 11, 12, 13}

In [26]:
inp = input('enter a number:')
x.add(inp)
x

{'1', 10, 11, 12, '123', 13, 2, '2', 3, '3', 4, 'avengers'}

In [27]:
x.remove('1')
x

In [30]:
if 123 in x: # check value is in set
    x.remove(123) # then only remove it

In [32]:
x.discard(10) # same as remove but doest not throw error

In [33]:
print(x)

{2, 3, 4, '2', 11, 12, 13, '123', 'avengers', '3'}

In [34]:
x.pop()

2

In [35]:
x

{11, 12, '123', 13, '2', 3, '3', 4, 'avengers'}

In [36]:
x.clear()

In [37]:
x

set()

In [47]:
x = {1,2,3,4,5,6}
y = {2,3,9,8,7,10}

In [48]:
com_items = x.intersection(y)
print(com_items)

{2, 3}

In [49]:
uniq_in_y = y.difference(x) 
print(uniq_in_y)

{8, 9, 10, 7}

In [50]:
uniq_in_x = x.difference(y) 
print(uniq_in_x)

{1, 4, 5, 6}

In [51]:
combine_xy = x.union(y)
print(combine_xy)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [52]:
uniq_to_both_xy = x.symmetric_difference(y)
print(uniq_to_both_xy)

{1, 4, 5, 6, 7, 8, 9, 10}

In [55]:
a = {1,2,3}
b = {1,2,3,4,5,6,7,8,9}
c = {12,13,14}

In [56]:
a.issubset(b)

True

In [57]:
a.issubset(c)

False

In [58]:
b.issuperset(a)

True

In [60]:
b.issuperset(c)

False

In [61]:
a.isdisjoint(c)

True

In [62]:
a.isdisjoint(b)

False

# assigments sets
- wap to create two sets a and b created by user input and then show the union of those sets
- wap to add a list to a set and the display the sum of the set
- wap to find the difference and intersection of 2 sets and then display the mean of both generated sets.